/* GENERAL TEMPLATING RULES */
:root {
  --header-height: 60px;

  --cursor-default: url(images/icon_cursor.png)       6 6, default;
  --cursor-pointer: url(images/icon_cursor_light.png) 6 6, pointer;

  --animation-cursor: cursor 2s linear infinite normal;
  --animation-mouse:  mouse 2s linear infinite normal;

  --c-dark-0:  #121212;
  --c-dark-1:  #1d1d1d;
  --c-dark-2:  #2b2b2b;
  --c-dark-3:  #3b3b3b;
  --c-dark-4:  #4b4b4b;
  --c-dark-5:  #5f5f5f;
  --c-dark-6:  #777777;

  --c-dark-0-00:  hsla(0, 0%, 7%, 0);
  --c-dark-0-005: hsla(0, 0%, 7%, 0.05);
  --c-dark-0-01:  hsla(0, 0%, 7%, 0.1);
  --c-dark-0-02:  hsla(0, 0%, 7%, 0.2);
  --c-dark-0-03:  hsla(0, 0%, 7%, 0.3);
  --c-dark-0-04:  hsla(0, 0%, 7%, 0.4);
  --c-dark-0-05:  hsla(0, 0%, 7%, 0.5);
  --c-dark-0-06:  hsla(0, 0%, 7%, 0.6);
  --c-dark-0-07:  hsla(0, 0%, 7%, 0.7);
  --c-dark-0-08:  hsla(0, 0%, 7%, 0.8);
  --c-dark-0-09:  hsla(0, 0%, 7%, 0.9);

  --c-light-0: #E4E4E4;
  --c-light-1: #cfcfcf;
  --c-light-2: #bebebe;
  --c-light-3: #a1a1a1;
  --c-light-4: #969696;

  --c-light-0-00:  hsla(0, 0%, 89%, 0.0);
  --c-light-0-005: hsla(0, 0%, 89%, 0.05);
  --c-light-0-01:  hsla(0, 0%, 89%, 0.1);
  --c-light-0-02:  hsla(0, 0%, 89%, 0.2);
  --c-light-0-03:  hsla(0, 0%, 89%, 0.3);
  --c-light-0-04:  hsla(0, 0%, 89%, 0.4);
  --c-light-0-05:  hsla(0, 0%, 89%, 0.5);
  --c-light-0-06:  hsla(0, 0%, 89%, 0.6);
  --c-light-0-07:  hsla(0, 0%, 89%, 0.7);
  --c-light-0-08:  hsla(0, 0%, 89%, 0.8);
  --c-light-0-09:  hsla(0, 0%, 89%, 0.9);
  
  --border-width: 1.5px;
}

* {
  box-sizing: border-box;
  cursor: url(images/icon_cursor.png) 6 6, default;

  /* FONT PARTICULARS */
  font-variant-numeric: lining-nums;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--c-dark-0);
  color: var(--c-light-0);
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  gap: 360px;
  width: 100vw;
}

img {
  display: block;
  padding: 0;
  margin: 0;
  -webkit-user-drag: none;
  user-select: none;
}

h1 {
  font-family: "next";
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 0.02em;
  margin: 0;
}
h2 {
  font-family: "next";
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  margin: 0;
}
h3 {
  font-family: "next";
  font-weight: 200;
  font-size: 24px;
  margin: 0;
}

div {
  font-family: "rale";
  line-height: 140%;
}

p {
  margin: 0;
  font-family: "rale";
  line-height: 140%;
}

span {
  line-height: 140%;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  cursor: var(--cursor-pointer);
}

button {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 12px 40px;
  background-color: var(--c-light-0);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--c-dark-1);
  border-bottom-color: var(--c-dark-4);
  border-radius: 2px;
  outline: none;
  font-family: "rale";
  font-weight: 750;
  font-size: 18px;
  box-shadow: 0px 0px 80px 5px #ffffff23;
  cursor: var(--cursor-default);
  --animation: 0.5s ease-in-out;
  transition: border-color var(--animation), background-color var(--animation), color var(--animation);
}

button.no-glow {
  box-shadow: none!important;
}

button.shadow-small {
  box-shadow: 0 0 40px 2px #ffffff10;
}

button.dark:hover {
  border-color: var(--c-dark-3);
  border-bottom-color: var(--c-dark-6);
}

button.dark {
  color: var(--c-light-0);
  font-weight: 650;
  cursor: url(images/icon_cursor_light.png) 6 6, default;
}

button.dark-0 {
  background-color: var(--c-dark-0);
}

button.dark-1 {
  background-color: var(--c-dark-1);
}



/* Button arrow */

.button-arrow {
  position: relative;
  left: 0;
  width: 18px;
  height: 18px;
  margin-top: 2px;
  object-fit: cover;
  background-image: url(images/icon_arrow.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  scale: -1;
  --animation: 0.75s cubic-bezier(0.2, 0.0, 0.2, 1.0);
  transition: 
  left var(--animation),
  right var(--animation),
  top var(--animation),
  bottom var(--animation);
  cursor: inherit;
}

.button-arrow.dark {
  background-image: url(images/icon_arrow_dark.png);
}

.button.dark .button-arrow {
  background-image: url(images/icon_arrow.png);
}

button .button-arrow.rotate-90 {
  margin-top: 3px;
}
button .button-arrow.rotate-180 {
  margin-left: -5px;
  left: unset;
}

button:hover > .button-arrow:not(.rotate-90, .rotate-180, .rotate-270) {
  left: 4px;
}
button:hover > .button-arrow.rotate-90 {
  top: 2px;
}
button:hover > .button-arrow.rotate-180 {
  right: 4px;
}
button:hover > .button-arrow.rotate-270 {
  bottom: 2px;
}



.section {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none!important;
}

*.rotate-90 {
  rotate: 90deg;
}

*.rotate-180 {
  rotate: 180deg;
}

*.rotate-270{
  rotate: 270deg;
}



.row {
  flex-direction: row;
  grid-auto-flow: row;
}
.column {
  flex-direction: column;
  grid-auto-flow: column;
}

.flex {
  display: flex;
}

.filler {
  flex-grow: 1;
}

/* endregion GENERAL TEMPLATING RULES */



/* TOOLTIP */
.tooltip-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  padding: 10px 60px;
  background-color: var(--c-light-0);
  color: var(--c-dark-0);
  border-radius: 10px;
  pointer-events: none;
  user-select: none;
  width: max-content;
  z-index: 10;
}
.tooltip-text {
  font-size: 18px;
  font-weight: 700;
  font-family: "rale";
  width: max-content;
}



/* FONTS */

@font-face {
  font-family: "next";
  src: url(fonts/tt_travels_next/Variable.ttf);
}
@font-face {
  font-family: "rale";
  src: url(fonts/raleway/Variable.ttf);
}



/* ANIMATIONS */
@keyframes cursor {
  0%    {cursor: url(images/icon_cursor_animated/icon_cursor_animated0000.png)  6 6, pointer}
  5%    {cursor: url(images/icon_cursor_animated/icon_cursor_animated0001.png)  6 6, pointer}
  10%   {cursor: url(images/icon_cursor_animated/icon_cursor_animated0002.png)  6 6, pointer}
  15%   {cursor: url(images/icon_cursor_animated/icon_cursor_animated0003.png)  6 6, pointer}
  20%   {cursor: url(images/icon_cursor_animated/icon_cursor_animated0004.png)  6 6, pointer}
  25%   {cursor: url(images/icon_cursor_animated/icon_cursor_animated0005.png)  6 6, pointer}
  30%   {cursor: url(images/icon_cursor_animated/icon_cursor_animated0006.png)  6 6, pointer}
  35%   {cursor: url(images/icon_cursor_animated/icon_cursor_animated0007.png)  6 6, pointer}
  40%   {cursor: url(images/icon_cursor_animated/icon_cursor_animated0008.png)  6 6, pointer}
  45%   {cursor: url(images/icon_cursor_animated/icon_cursor_animated0009.png)  6 6, pointer}
  100%  {cursor: url(images/icon_cursor_animated/icon_cursor_animated0009.png)  6 6, pointer}
}

@keyframes mouse {
  0%    {background-image: url(images/icon_mouse_animated/icon_mouse_animated0000.png)}
  5%    {background-image: url(images/icon_mouse_animated/icon_mouse_animated0001.png)}
  10%   {background-image: url(images/icon_mouse_animated/icon_mouse_animated0002.png)}
  15%   {background-image: url(images/icon_mouse_animated/icon_mouse_animated0003.png)}
  20%   {background-image: url(images/icon_mouse_animated/icon_mouse_animated0004.png)}
  25%   {background-image: url(images/icon_mouse_animated/icon_mouse_animated0005.png)}
  30%   {background-image: url(images/icon_mouse_animated/icon_mouse_animated0006.png)}
  35%   {background-image: url(images/icon_mouse_animated/icon_mouse_animated0007.png)}
  40%   {background-image: url(images/icon_mouse_animated/icon_mouse_animated0008.png)}
  45%   {background-image: url(images/icon_mouse_animated/icon_mouse_animated0009.png)}
  100%  {background-image: url(images/icon_mouse_animated/icon_mouse_animated0009.png)}
}



/* HEADER */

header {
  position: relative;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: var(--header-height);
  background-color: var(--c-dark-0);
  z-index: 2;
}

.header--contents {
  display: flex;
  gap: 40px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header--border-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--border-width);
  opacity: 0.1;
  background: linear-gradient(90deg, 
  var(--c-dark-0) 0%, 
  var(--c-light-3) 50%, 
  var(--c-dark-0) 100%);
  transition: width 0.5s ease-in-out, left 0.3s ease-out, opacity 0.5s ease-out, height 0.5s ease-in-out;
}

.header--logo {
  font-family: "next";
  font-weight: 660;
  font-size: 32px;
  margin-bottom: 6px;
  user-select: none;
}

.burger {
  display: none;
}

.navlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.navlink {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  font-family: "rale";
  font-weight: 300;
  font-size: 16px;
  width: 100px;
  animation: var(--animation-cursor);
  user-select: none;
}
.navlink:hover {
  text-shadow: 0px 5px 5px var(--c-dark-4);
  font-weight: 600;
}

.navlink--border--bottom {
  display: none;
}

.navlink--icons {
  display: flex;
  gap: 0px;
  height: 100%;
}
.navlink--icon {
  display: flex;
  align-items: center;
}
.navlink--icon--image {
  height: 100%;
  object-fit: contain;
}
.navlink--icon--text {
  display: none;
}


/* FOOTER */

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  width: 100vw;
  margin-top: 240px;
  padding-bottom: 240px;
}

.footer--description {
  font-size: 20px;
  font-weight: 200;
  text-align: justify;
  width: min(720px, 100vw);
}

.footer--content {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin-top: 60px;
  margin-left: -20px;
}

.footer--content--contacts {
  display: flex;
  gap: 0px;
}

.footer--content--address {
  display: flex;
  gap: 30px;
}

.icon--address,
.icon--contact {
  --width: 195px;
  margin-top: calc(var(--width) / -3);
  width: var(--width);
  object-fit: contain;
}

.icon--gps {
  left: -36px;
  display: inline-block;
  width: 24px;
}

.address--text, .contact--text {
  position: relative;
  font-size: 20px;
  font-family: "rale";
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact--text:hover .icon--copy--inline {
  opacity: 0.25;
}

.contact--text a {
  position: relative;
}
.icon--copy--inline {
  position: absolute;
  left: -36px;
  top: 0;
  display: inline-block;
  width: 32px;
  opacity: 0;
}
.icon--copy--inline:hover {
  opacity: 1!important;
}
/* .contact--text a::before {
  content: url(images/icon_copy.png);
  width: 32px;
  position: absolute;
  left: -32px;
  opacity: 0;
}

.contact--text a:hover::before {
  opacity: 1;
} */

.footer--decoration-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50vw;
  mix-blend-mode: lighten;
  z-index: -1;
}
.footer--decoration-2 {
  position: absolute;
  bottom: 0;
  right: -10vw;
  width: 50vw;
  mix-blend-mode: lighten;
  transform: scaleX(-1);
  z-index: -1;
}



/* PAGE - HOME */

.intro-text {
  font-family: "next";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  overflow: visible;
}

.intro-text--line-1 {
  font-size: 80px;
  font-weight: 750;
  margin-bottom: -18px;
}

.intro-text--line-2 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 100px;
}

.intro-text--line-3 {
  margin-top: 80px;
  max-width: 720px;
  font-family: "rale";
  font-weight: 100;
  font-size: 20px;
  text-align: center;
}

.intro-text--services {
  display: flex;
  margin-top: 80px;
  width: min(1100px, 100vw);
}

.service-card--small {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  animation: var(--animation-cursor);
  padding: 5px 20px 20px;
  transition: background-color 0.3s cubic-bezier(0.23, 1, 0.320, 1), box-shadow 0.75s cubic-bezier(0.23, 1, 0.320, 1);
}

.service-card--small--border--bottom {
  position: absolute;
  bottom: calc(-1 * var(--border-width));
  left: 0;
  height: var(--border-width);
  width: 100%;
  opacity: 0.2;
  background: linear-gradient(90deg, 
  var(--c-dark-3) 0%, 
  var(--c-light-4) 50%, 
  var(--c-dark-0) 100%);
  transition: opacity 0.35s ease-in-out, width 0.5s ease-in-out;
}

.service-card--small--border--top {
  position: absolute;
  top: calc(-1 * var(--border-width));
  left: 0;
  height: var(--border-width);
  width: 100%;
  opacity: 0.1;
  background: linear-gradient(90deg, 
  var(--c-dark-1) 0%, 
  var(--c-dark-6) 70%, 
  var(--c-dark-3) 100%);
  transition: opacity 0.35s ease-in-out, width 0.5s ease-in-out;
}

.service-card--small * {
  animation: inherit;
  cursor: unset;
}

.service-card--small--heading {
  font-family: "next";
  font-size: 24px;
  font-weight: 100;
}

.service-card--small--description {
  font-weight: 200;
}

.service-card--small--icon {
  width: 100%;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.320, 1);
}

.service-card--small--background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
  z-index: -1;
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.service-card--small--glow {
  position: absolute;
  width: 200%;
  background: linear-gradient(0deg, 
  var(--c-dark-3) 0%, 
  var(--c-light-4) 30%, 
  var(--c-dark-0) 100%);
}

.intro-text--line-4 {
  display: flex;
  gap: 40px;
  margin-top: 80px;
  max-width: 720px;
  font-family: "rale";
  font-weight: 100;
  font-size: 26px;
  text-align: center;
}

.intro-text--line-4 > span {
  font-weight: 100;
}

.intro-text--button {
  margin-top: 80px;
}



/* SERVICE CARD SMALL - effects */

.service-card--small:hover .service-card--small--border--bottom {
  opacity: 0.5;
}

.service-card--small:hover .service-card--small--border--top {
  opacity: 0.35;
}

.service-card--small:hover .service-card--small--icon {
  filter: brightness(1.1);
  transform: translateY(-3px);
}

.service-card--small:hover .service-card--small--background {
  /* background-color: var(--c-dark-1); */
  opacity: 0.75;
}

.service-card--small:hover {
  /* box-shadow: 0 0 100px 10px var(--c-light-0-005); */
}



.home--section--intro {
  position: relative;
  align-items: center;
  padding-top: 240px;
}

.home--section--works {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-top: 240px;
  padding: 0 calc((100vw - 1100px) / 2);
}

.works--column-1,
.works--column-2 {
  display: flex;
  flex-direction: column;
  gap: 240px;
  width: calc(50% - 30px);
}

.works--column-2 {
  margin-top: 240px;
}

.home--section--see-more {
  align-items: center;
  padding: 80px;
}

.button--see-more {
  width: max-content;
}

.home--section--intro--background-0 {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 60vw;
  rotate: 90deg;
  mix-blend-mode: lighten;
  opacity: 0.5;
  z-index: -1;  
}
.home--section--intro--background-1 {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 60vw;
  rotate: -180deg;
  mix-blend-mode: lighten;
  opacity: 0.5;
  z-index: -1;
}



/* PROJECT CARD */

.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  color: var(--c-light-0);
  background-image: url(images/background_var_1.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  transition: filter 0.15s ease-out, opacity 0.5s ease-in-out;
  animation: var(--animation-cursor);
}

.project-card * {
  cursor: inherit;
}

.project-card--border-left {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--border-width);
  height: 100%;
  opacity: 0.2;
  background: linear-gradient(0deg, 
  var(--c-dark-3) 0%, 
  var(--c-light-4) 30%, 
  var(--c-dark-0) 100%);
  transition: opacity 0.35s ease-in-out, width 0.5s ease-in-out;
}

.project-card--border-top {
  position: absolute;
  left: 0;
  top: 0;
  height: var(--border-width);
  width: 100%;
  opacity: 0.15;
  background: linear-gradient(90deg, 
  var(--c-dark-0) 0%, 
  var(--c-light-4) 75%, 
  var(--c-dark-4) 100%);
  transition: opacity 0.5s ease-in-out, height 0.75s ease-in-out;
}

.project-card--border-right {
  position: absolute;
  right: calc(var(--border-width) * -1);
  top: 0;
  width: var(--border-width);
  height: 100%;
  opacity: 0.15;
  background: linear-gradient(0deg, 
  var(--c-dark-0) 0%, 
  var(--c-light-4) 75%, 
  var(--c-dark-4) 100%);
  transition: opacity 0.75s ease-in-out, width 1s ease-in-out;
}

.project-card--text {
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.project-card--description {
  margin-bottom: 4px;
  margin-top: 4px;
  padding-left: 1px;
  font-family: "rale";
  font-size: 16px;
  font-weight: 250;
  text-align: justify;
  text-justify: inter-word;
  text-shadow: 0px 0px 10px #000000;
}

.project-card--button {
  width: max-content;
  padding-right: 30px;
}

/* Project card - effects */

.project-card.brighten-on-hover:hover {
  filter: brightness(1.09);
}

.project-card:hover .project-card--description {
  text-shadow: 0px 0px 10px #ffffff40;
}

.project-card:hover button .button-arrow {
  left: 4px;
}

.project-card:hover .project-card--border-left {
  opacity: 0.6;
}

.project-card:hover .project-card--border-right {
  opacity: 0.4;
}

.project-card:hover .project-card--border-top {
  opacity: 0.4;
}



/* PAGE - SERVICES */

.services--section--intro {
  padding: 200px 0;
  align-items: center;
}

.page-heading--services {
  margin-bottom: 40px;
}

.services--intro-text-1 {
  max-width: 600px;
  margin-bottom: 20px;
}

.services--intro-text-2 {
  max-width: 600px;
}

.services--intro-text-3 {
  max-width: 600px;
  margin-top: 20px;
}

.services--intro-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1100px;
  margin-top: 80px;
}

.services--intro-button {
  width: 240px;
  padding-left: 5px;
  padding-right: 0;
}

.icon--mouse-animated {
  margin-top: 80px;
  width: 64px;
  height: 64px;
  background-position: center;
  background-size: 100%;
  transition: opacity 0.75s ease-in-out;
}

.services--section--cards {
  gap: 360px;
  align-items: center;
  padding: 0 60px;
}

/* Page services - SERVICE CARD */

:root {
  --service-card--width: min(1100px, 100vw);
  --service-card--height: calc(var(--service-card--width) / 2.2);
}

.service-card {
  position: relative;
  display: flex;
  background-color: var(--c-dark-1);
  height: var(--service-card--height);
  width: var(--service-card--width);
  transition: opacity 0.2s;
}

.service-card--carousel-container {
  width: var(--service-card--height);
}

.service-card--dots {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  background-image: url(images/icon_dots_vertical.png);
  background-position: center;
  background-size: contain;
}

.service-card--title {
  
}

.service-card--description {
  font-size: 18px;
  line-height: 180%;
  width: calc(var(--service-card--width) - var(--service-card--height) - 80px);
  text-shadow: 0px 0px 10px var(--c-dark-0);
  padding: 0 60px 0 0;
}

.service-card--background-image {
  --width: 270px;
  width: var(--width);
  position: absolute;
  bottom: calc((var(--width)/2.45) * -1);
  right: calc((var(--width)/2.6) * -1);
  z-index: 1;
}

.service-card--background-image-v2 {
  --width: 440px;
  width: var(--width);
  position: absolute;
  bottom: calc((var(--width)/3) * -1);
  right:  calc((var(--width)/5) * -1);
  opacity: 0.15;
  z-index: 1;
}


.service-card--text-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  flex-grow: 1;
  background-image: url(images/background_var_0.png);
  background-position: bottom left;
  background-size: cover;
  overflow: hidden;
}

.service-card--border-top {
  display: none;
  position: absolute;
  top: calc(var(--border-width) * -1);
  left: 0;
  width: 100%;
  height: var(--border-width);
  opacity: 0.75;
  background: linear-gradient(90deg, 
  var(--c-dark-1) 0%, 
  var(--c-dark-3) 50%,
  var(--c-dark-0) 100%);
}

.service-card--border-right {
  position: absolute;
  top: 0;
  right: calc(var(--border-width) * -1);
  height: 100%;
  opacity: 0.5;
  width: var(--border-width);
  background: linear-gradient(0deg, 
  var(--c-dark-1) 0%, 
  var(--c-dark-3) 25%,
  var(--c-dark-0) 100%);
}

.service-card--border-left {
  position: absolute;
  top: 0;
  left: calc(var(--border-width) * -1);
  height: 100%;
  width: var(--border-width);
  background: linear-gradient(0deg, 
  var(--c-dark-1) 0%, 
  var(--c-dark-2) 10%,
  var(--c-dark-0) 100%);
}

/* SERVICE CARD - effects */

/* .service-card--background-image-v2 {
  transition: rotate 3s cubic-bezier(0.23, 0.2, 0.320, 1), scale 2.5s cubic-bezier(0.2, 0.2, 0.3, 1), translate 2.75s cubic-bezier(0.1, 0.2, 0.3, 1);
}

.service-card:hover .service-card--background-image-v2 {
  rotate: 2deg;
  scale: 1.02;
  translate: -5px -5px;
} */



/* CAROUSEL */

.carousel-container {
  position: relative;
  display: flex;
  background-color: var(--c-dark-0);
}


.arrow-container {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.arrow-container.dark .button-arrow {

}

.arrow-container--background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(90deg, 
  var(--c-light-0-00) 0%, 
  var(--c-light-0) 50%,
  var(--c-light-0-00) 100%);
  z-index: 0;
}

.arrow-container--background.dark {
  background: linear-gradient(90deg, 
  var(--c-dark-0-00) 0%, 
  var(--c-dark-0) 50%,
  var(--c-dark-0-00) 100%);
}

.arrow-container:hover .arrow-container--background {
  opacity: 0.06;
}

.arrow-container .button-arrow {
  width:  48px;
  height: 48px;
  z-index: 2;
  margin: 0!important;
  transition: background-color 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.arrow-container .button-arrow:hover {
  background-color: var(--c-light-0-02);
}

.carousel--image-container::-webkit-scrollbar {
  display: none;
}

.carousel--image-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: 0;
}

.carousel-image {
  width: 100%;
  object-fit: cover;
  transition: background-color 1.2s cubic-bezier(0.165, 0.84, 0.44, 1), filter 0.25s ease-in-out;
  z-index: 1;
}

.carousel-image.interactable {
  animation: var(--animation-cursor);
}

.carousel--bubble-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.carousel--bubble-container.dark .carousel--bubble {
  background-color: var(--c-dark-0);
}

.carousel--bubble-container.dark .carousel--bubble:not(.active) {
  opacity: 0.25;
}

.carousel--bubble {
  width: 16px;
  height: 16px;
  border-radius: 20px;
  background-color: var(--c-light-0-02);
  z-index: 1;
  transition: background-color 0.25s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.25s ease-in-out;
}

.carousel--bubble.active {
  background-color: var(--c-light-0);
}

.carousel--current-slide-name {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  justify-content: center;
  padding: 8px 40px 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--c-dark-0);
  z-index: 1;
}

.carousel--current-slide-name--border--top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.15;
  height: var(--border-width);
  background: linear-gradient(90deg, 
  var(--c-light-0-00) 0%, 
  var(--c-light-0) 50%,
  var(--c-light-0-00) 100%);
  z-index: 0;
}
.carousel--current-slide-name--border--bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.3;
  height: var(--border-width);
  background: linear-gradient(90deg, 
  var(--c-light-0-00) 0%, 
  var(--c-light-0) 50%,
  var(--c-light-0-00) 100%);
  z-index: 0;
}

.carousel--current-slide-name--text {
  font-weight: 250;
  overflow: hidden;
  text-wrap: nowrap;
  padding: 0 10px;
  text-overflow: ellipsis;
}

/* Carousel - EFFECTS */

.carousel-image.brighten-on-hover.has-bright-subject:hover {
  filter: brightness(1.02) contrast(1.05);
  background-color: var(--c-light-0-005);
}
.carousel-image.brighten-on-hover:not(.has-bright-subject):hover {
  filter: brightness(1.08);
  background-color: var(--c-light-0-005);
}

.carousel--bubble:hover {
  background-color: var(--c-light-0);
}


/* PAGE - ABOUT */

.about--section--intro {
  padding: 360px 0 180px;
  align-items: center;
}

.page-heading--about {
  margin-bottom: 80px;
}

.about--intro-text-1 {
  max-width: 600px;
  font-weight: 200;
  text-align: justify;
}

.about--section--team {
  align-items: center;
  gap: 180px;
}

.about--team--segment-1,
.about--team--segment-2 {
  display: flex;
  justify-content: space-between;
  width: min(1100px, 100vw);
}

.about--team--segment-2 .team--role--text {
  order: 2;
}

.team--role--text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.team--role--title {
  margin-bottom: 40px;
}

.team--role--description {
  max-width: 420px;
  text-align: justify;
  letter-spacing: 0.01em;
  font-weight: 200;
}

.about--people-container--employee,
.about--people-container--contractor {
  display: flex;
  gap: 40px;
  flex-grow: 1;
}

.about--people-container--employee {
  justify-content: flex-end;
}

.about--people-container--contractor {
  flex-grow: 1;
}

.about--section--logos {
  margin-top: 360px;
  align-items: center;
}

.about--client-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: min(900px, 100vw);
  margin: 90px 0;
  gap: 40px;
}

.client-logo {
  height: 80px;
}



/* PERSON CARD */

.person-card--container {
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 280px;
  padding: 20px;
  background-image: url(images/background_var_0.png);
  background-position: bottom left;
  background-size: 150%;
  background-repeat: no-repeat;
  overflow: hidden;
  box-shadow: 0 0 60px 2px var(--c-light-0-005);
}

.person-card--container * {
  cursor: inherit;
}

.person-card--container.has-portfolio {
  animation: var(--animation-cursor);
}

.person-card--title {
  font-family: "next";
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.04em;
}

.person-card--description {
  position: relative;
  display: flex;
  gap: 6px;
}

.person-card--description.is-portfolio-link {
  width: max-content;
  margin-top: -5px;
  padding: 5px 10px 4px 10px;
  background: linear-gradient(90deg, var(--c-light-0-02) 0%, var(--c-light-0-005) 100%);
}
.person-card--description.is-portfolio-link:hover {
  background: linear-gradient(90deg, var(--c-light-0-03) 0%, var(--c-light-0-01) 100%);
}

.person-card--image {
  width: 100%;
  transition: filter 0.5s ease-in-out;
}

.person-card--border-top {
  position: absolute;
  left: 0;
  top: 0;
  height: var(--border-width);
  width: 100%;
  opacity: 0.2;
  background: linear-gradient(90deg, 
  var(--c-light-0-01) 0%, 
  var(--c-light-0) 50%,
  var(--c-light-0-01) 100%);
  transition: opacity 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}
.person-card--border-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  height: var(--border-width);
  width: 100%;
  opacity: 0.2;
  background: linear-gradient(90deg, 
  var(--c-light-0-02) 0%, 
  var(--c-light-0) 50%,
  var(--c-light-0-02) 100%);
  transition: opacity 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

/* Person card - EFFECTS */

.person-card--container:hover .person-card--image {
  filter: brightness(1.1);
}

.person-card--container:hover .person-card--border-bottom {
  opacity: 0.5;
}

.person-card--container:hover .person-card--border-top {
  opacity: 0.5;
}



/* PAGE - PROJECT */

:root {
  --project-content--width: 900px;
  --project-content--spacing: 120px;
  --project--image--gap: 5px;
}

.page--project {

}

.project--section--intro {
  align-items: center;
  width: 100vw;
  margin: var(--project-content--spacing) 0 var(--project-content--spacing);
}

.page-heading--project {
  max-width: var(--project-content--width);
  line-height: 140%;
  text-align: center;
  margin-bottom: var(--project-content--spacing);
}

.project--banner {
  position: relative;
  width: 100vw;
  height: 25vw;
}

.project--button--go-back--container {
  position: fixed;
  top: calc(var(--header-height) + 40px);
  z-index: 1;
}

.project--button--go-back {
  position: relative;
  width: max-content;
  left: 40px;
}

.project--banner--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project--description {
  max-width: var(--project-content--width);
  text-align: justify;
  font-size: 18px;
  letter-spacing: 0.01em;
  line-height: 150%;
  font-weight: 250;
}

.project--block-container {
  display: flex;
  flex-direction: column;
}

.project--sub-heading {
  text-align: center;
}

.project--section--content {
  align-items: center;
  gap: 120px;
  padding: var(--project-content--spacing) 0 0;
}

.project--section--content > * {
  width: 100%;
  max-width: var(--project-content--width);
}

.project--image--single {
  width: 100%;
}

.project--image--flex.row .project--image--one-of-two {
  width: calc(50% - var(--project--image--gap) / 2);
  object-fit: cover;
}

.project--image--flex.row .project--image--one-of-three {
  width: 33%;
  object-fit: cover;
}
.project--image--flex.row .project--image--one-of-three:first-child {
  width: 34%;
  object-fit: cover;
}

.project--image--flex {
  display: flex;
  gap: var(--project--image--gap);
  width: 100%;
}

.project--image--flex.row {
  flex-wrap: wrap;
}

.project--image--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  grid-auto-flow: row;
  gap: var(--project--image--gap);
}

.project--image--for-grid {
  width: 100%;
}

.project--image--label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  width: 100%;
  font-size: 18px;
  font-weight: 200;
  background: linear-gradient(90deg, 
  var(--c-dark-0) 0%, 
  var(--c-dark-1) 50%,
  var(--c-dark-0) 100%);
}

.project--image--label--border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: var(--border-width);
  width: 100%;
  opacity: 0.1;
  background: linear-gradient(90deg, 
  var(--c-light-0-02) 0%, 
  var(--c-light-0) 50%,
  var(--c-light-0-02) 100%);
  transition: opacity 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.project--video {
  width: 50%;
}












/* MOBILE LAYOUT */

@media screen and (max-width: 720px) {

  :root {
    --mobile-padding: 10px;
  }
  
  body {
    overflow-x: hidden;
  }

  body::-webkit-scrollbar {
    display: none;
  }
  * {
    scrollbar-width: 0;
  }

  header {
    display: flex;
    align-items: center;
  }

  .icon--mouse-animated {
    display: none;
  }

  .navlinks {
    position: fixed;
    top: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--c-dark-0);
    width: 100vw;
    height: auto;
    z-index: 1;
  }

  .navlink--border--bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: var(--border-width);
    opacity: 0.2;
    background: linear-gradient(90deg, 
    var(--c-dark-0) 0%, 
    var(--c-light-3) 50%, 
    var(--c-dark-0) 100%);
  }

  .navlink--icons {
    flex-direction: column;
  }

  .navlink--icon--text {
    display: unset;
  }  

  .burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;
    padding: 15px;
    width: 60px;
  }

  .burger-bar {
    width: 100%;
    height: 2px;
    background-color: var(--c-light-0);
  }



  /* PAGE - HOME */

  .home--section--intro {
    padding-top: 120px;
  }

  .intro-text--line-3 {
    max-width: calc(100vw - var(--mobile-padding)*2);
  }

  .intro-text--line-4 {
    display: flex;
    flex-direction: column;
  }

  .intro-text--services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .service-card--small {
    width: calc(50vw - var(--mobile-padding)*2);
  }

  .home--section--works {
    flex-direction: column;
    width: 100vw;
  }
  .works--column-2 {
    display: none;
  }

  .works--column-1 {
    width: 100%;
    gap: 120px;
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
  }



  /* PAGE - ABOUT */

  .about--section--intro {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .about--intro-text-1 {
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
  }

  .about--team--segment-1,
  .about--team--segment-2 {
    flex-direction: column;
    gap: 60px;
  }

  .team--role--title {
    text-align: center;
  }

  .team--role--text {
    width: 100%;
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
  }

  .team--role--description {
    max-width: 100%;
  }

  .about--team--segment-2 .team--role--text {
    order: 0;
  }

  .about--people-container--employee,
  .about--people-container--contractor {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
  }

  .person-card--container {
    width: 100%;
  }

  .about--section--logos {
    margin-top: 120px;
  }

  .client-logo {
    height: 60px;
  }

  /* PAGE - SERVICES */

  .services--section--intro {
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .page-heading--services {
    width: 100%;
    text-align: center;
    line-height: 140%;
  }

  .services--intro-text-1 {
    text-align: justify;
  }
  .services--intro-text-2 {
    text-align: justify;
  }

  .services--intro-buttons {
    gap: 10px;
    margin-top: 40px;
  }

  .services--intro-button {
    width: 100%;
  }



  /* SERVICE CARD */

  .services--section--cards {
    gap: 120px;
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
  }

  .service-card {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .service-card--carousel-container {
    width: 100%;
  }

  .service-card--text-container {
    padding: 20px;
  }

  .service-card--description {
    width: 100%;
  }

  .service-card--border-top {
    display: block;
  }



  /* CAROUSEL */

  .carousel--image-container {
    overflow-x: hidden;
  }


  /* PAGE - PROJECT */

  .project--banner {
    height: 50vw;
  }

  .project--section--intro {
    width: 100vw;
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
  }
  .project--section--content {
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
  }

  .project--button--go-back--container {
    position: sticky;
    top: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 20px 0;
  }

  .project--button--go-back {
    left: 0;
  }

  .project--video {
    width: 100%;
  }



  /* FOOTER */

  footer {
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    padding-bottom: 60px;
    margin-top: 120px;
  }
  
  .footer--description {
    font-weight: 150;
    font-size: 20px;
    padding-left: calc(var(--mobile-padding) * 2);
    padding-right: calc(var(--mobile-padding) * 2);
  }
  
  .footer--content {
    flex-direction: column;
    width: 100vw;
    margin: 0;
  }

  .icon--contact,
  .icon--address {
    margin: 0;
  }

  .icon--contact {
    order: 1;
  }

  .footer--content--address,
  .footer--content--contacts {
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    gap: 0;
    font-weight: 600;
  }

  .footer--content--address > *,
  .footer--content--contacts > * {
    width: 50%;
    justify-content: center;

  }

  .contact--text {
    align-items: flex-end;
  }
}