/* FONTS */

@font-face {
  font-family: "HK";
  src: url(../fonts/HKGrotesk-BoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "HK";
  src: url(../fonts/HKGrotesk-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "HK";
  src: url(../fonts/HKGrotesk-Bold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "HK";
  src: url(../fonts/HKGrotesk-Medium.otf);
  font-weight: 500;
  font-style: normal;
}



/* TEMPLATE */

* {
  box-sizing: border-box;
}

:root {
  --color-etuare: #3fa9f5;
  --color-etuare-05: #3fa9f580;
  --color-text: #161616;
  --header-height: 60px
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "HK";
}

img {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}

.hidden {
  display: none!important;
}

p, div {
  line-height: 140%;
}

h2 {
  font-size: 2rem;
}

button, input, form, label, textarea {
  font-family: "HK"!important;
}

button {
  border: none;
  outline: none;
}
input[type="text"], textarea {
  padding: 10px;
}
input[type="submit"] {
  border: none;
  outline: none;
}


/* MAIN */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

#upload-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#upload-form--inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.upload-form--label {
  border-top: 2px solid var(--color-etuare);
  padding-top: 5px;
}

#upload-buttons--add-row {
  display: flex;
  gap: 5px;
}

#button--upload {
  background-color: var(--color-etuare);
  padding: 10px;
}

.button--add-row {
  padding: 5px;
  border-radius: 5px;
  color: black;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}
.button--add-row:hover {
  background-color: rgb(215, 215, 215);
}